@charset 'utf-8';
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* Variable */ 
:root{
    --container : 1270px;
    --white : white;
    --primary : #0054A6;
    --secondary : #005CB7;
    --highlight : #89B8F5;
    --gray : #767676;
    --darkGray : #555555;
    --mixedColor : #303642;
    --lightGray : #D7D7D7;
    --black: #000000;
    --fz : 16px;
    --lh : 24px;
    --oneGrid : 32px;
}

/* Layout */
.container{
  width: var(--container);
  margin: 0 auto;
}
.mb-2{
  margin-bottom: var(--oneGrid)*2;
}
.mb-1{
  margin-bottom: 32px;
}

/* Font */
body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

/* Header */ 
header>div { 
  box-sizing: border-box;
}
.top-nav{
  display: flex;
  justify-content: end;
  align-items: end;
  background: var(--white);
  gap: 50px;
}
.top-nav li{
  
  font-size: 13px;
  line-height: 32px;
  text-align: center;
}
.top-nav .language{
  position: relative;
}
.top-nav .language ul{
  position: absolute;
  display: flex;
  flex-direction: column;
  background: transparent;
  left: 0;
  top: 0;
  transform: translateX(50%);
  transform: translateY(-100%);
  background: var(--white);
  transition: .3s;
  padding: 0 5px;
  z-index: -1;
}
.top-nav .language ul li{
  text-align: left;
  line-height: 20px;
}
.top-nav .language:hover ul{
  top : 100%;
  transform: none;
}
.top-nav .search{
  font-size: 10px;
  line-height: 20px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  box-sizing: border-box;
  transition: .3s;
  margin: 4.5px 15px;
}
.top-nav .search input{
  width: 100px;
  height: 100%;
  transition: .3s;
  pointer-events: none;
  padding: 3.5px 10px;
}
.top-nav .search button{
  width: 20px;
}
.top-nav .search:active input{
  width: 200px;
}
header nav{
  display: flex;
  justify-content: space-between;
  position: relative;
}
header nav .logo a{
  margin-left: 305px;
  width: 204px;
  height: 64px;
  display: block;
  background: url('../images/Logo.svg') no-repeat;
  text-indent: -9999em;
}
header .main-menu{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0 91px;
  width: 100%;
  
}
header .main-menu li{
  font-size: 20px;
  line-height: 92px;
  font-weight: 700;

}
header .main-menu ul {
  display: none;
  
}

header .main-menu > li > ul >li{
  height: 220px;
  border-left: 1px solid var(--gray);
  padding: 0  90px;
  margin: 32px 0;
}
header .main-menu > li > ul >li:last-child{
  border-right: 1px solid var(--gray);
}
header .main-menu > li{
  text-align: center;
  width: 114px;
  box-shadow: none;
  transition: .3s;
  
}
header .main-menu > li:hover{
  box-shadow: 0 -5px 0 0 var(--primary) inset;
}
header .main-menu > li:hover > ul{
  z-index: 1;
  background: #fff;
  display: flex;
  align-items: start;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;right: 0;
  
}

header .main-menu ul li{
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
header .main-menu li:hover ul ul{
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

header .main-menu ul ul li{

  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
}
/* Slide */
 .slide-wrapper{
  position: relative;
  z-index: 0;
}
.slide-container{
  width: 5760px;
  height: 500px;
  display: flex;
} 
.slide-container img{
  width: 100%;
}
 .slide-btn button{
  position: absolute;
  width: 68px;
  height: 68px;
  background: rgba(0, 0 , 0, .5);
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  top:calc(50% - 34px);
}
.slide-btn .prev{
  left: 20px;
}
.slide-btn .next{
  right: 20px;
} 
/* Form */
.main-content>div{
  position: relative;
}
.reservation li a{
  width: 189px;
  height: 64px;
  position: absolute;
  line-height: 64px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  bottom: 100%;
}
.reservation li:nth-child(1) a{
  background: var(--white);
}
.reservation li:nth-child(1) a {
  color: var(--primary);
  font-size: 19px;
  font-weight: 700;
}
.reservation li:nth-child(2) a{
  background: var(--primary);
  color: var(--white);
  left: 189px;
}
.reservation li:nth-child(2) a {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
}
.form-way {
  display: flex;
  justify-content: start;
}
.form-way li a{
  width: 107px;
  line-height: 46px;
  display: block;
  text-align: center;
}
.form-way li{
  margin: 29px 0 19px 0;
}
.form-way li:nth-child(1) a{
  background: var(--primary);
  color: var(--white);
  border-radius: 4px 0 0  4px;
}
.form-way li:nth-child(2) a{
  background: var(--lightGray);
  color: var(--primary);
  border-radius: 0 4px 4px 0;
}
.main-content form{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-content .input-field{
  display: flex;
  box-sizing: border-box;
}

.main-content input{
  width: 220px;
  height: 65px;
}