@charset 'utf-8';
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* Variable */ 
:root{
    --container : 1270px;
    --white : white;
    --primary : #0054A6;
    --secondary : #005CB7;
    --highlight : #89B8F5;
    --third : #D0E7F6;
    --gray : #767676;
    --darkGray : #555555;
    --mixedColor : #303642;
    --lightGray : #D7D7D7;
    --black: #000000;
    --fz : 16px;
    --lh : 24px;
    --oneGrid : 32px;
}

/* Layout */
.container{
  width: var(--container);
  margin: 0 auto;
}
.mb-2{
  margin-bottom: 64px ;
}
.mb-1{
  margin-bottom: 32px;
}
.hidden{
    position: absolute;
  left: 0;
  top: -9999em;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* Font */
body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

/* Header */ 
header>div { 
  box-sizing: border-box;
}
.top-nav{
  display: flex;
  justify-content: end;
  align-items: end;
  background: var(--white);
  gap: 50px;
}
.top-nav li{
  
  font-size: 13px;
  line-height: 32px;
  text-align: center;
}
.top-nav .language{
  position: relative;
}
.top-nav .language ul{
  position: absolute;
  display: flex;
  flex-direction: column;
  background: transparent;
  left: 0;
  top: 0;
  transform: translateX(50%);
  transform: translateY(-100%);
  background: var(--white);
  transition: .3s;
  padding: 0 5px;
  z-index: -1;
}
.top-nav .language ul li{
  text-align: left;
  line-height: 20px;
}
.top-nav .language:hover ul{
  top : 100%;
  transform: none;
}
.top-nav .search{
  font-size: 10px;
  line-height: 20px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  box-sizing: border-box;
  transition: .3s;
  margin: 4.5px 15px;
}
.top-nav .search input{
  width: 100px;
  height: 100%;
  transition: .3s;
  pointer-events: none;
  padding: 3.5px 10px;
}
.top-nav .search button{
  width: 20px;
}
.top-nav .search:active input{
  width: 200px;
}
header nav{
  position: relative;
}
header nav > div{
  display: flex;
  justify-content: space-between;
}
header nav .logo a{
  width: 204px;
  height: 64px;
  display: block;
  background: url('../images/Logo.svg') no-repeat;
  text-indent: -9999em;
}
header .main-menu{
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 0 91px;
  width: 100%;
  
}
header .main-menu li{
  font-size: 20px;
  line-height: 92px;
  font-weight: 700;
  padding: 0 50px;  
}
header .main-menu ul {
  display: none;
}

header .main-menu > li > ul >li{
  height: 220px;
  border-left: 1px solid var(--gray);
  padding: 0  60px;
  margin: 32px 0 64px;
}
header .main-menu > li > ul >li:last-child{
  border-right: 1px solid var(--gray);
}
header .main-menu > li{
  text-align: center;
  width: 114px;
  box-shadow: none;
  transition: .3s;
}
header .main-menu > li:hover{
  box-shadow: 0 -5px 0 0 var(--primary) inset;
}
header .main-menu > li:hover > ul{
  z-index: 1;
  background: #fff;
  display: flex;
  align-items: start;
  justify-content: center;

  position: absolute;
  top: 100%;
  left: 0;right: 0;
}

header .main-menu ul li{
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
header .main-menu li:hover ul ul{
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

header .main-menu ul ul li{
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
}
/* Slide */
 .slide-wrapper{
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.slide-container{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  transition: left 0.3s;
} 
.slide-container>li{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide-container img{
  width: 100%;
}
 .slide-btn button{
  position: absolute;
  width: 68px;
  height: 68px;
  background: rgba(0, 0 , 0, .5);
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  top:calc(50% - 34px);
  cursor: pointer;
}
.slide-btn .prev{
  left: 20px;
}
.slide-btn .next{
  right: 20px;
} 
/* Form */
.main-content{
  box-shadow: 2px 2px 3px rgba(0, 0 , 0, .25);
  background: var(--white);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-content > div{
  position: relative;
 
}
.reservation li a{
  width: 189px;
  height: 64px;
  position: absolute;
  line-height: 64px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  bottom: 100%;
}
.reservation li:nth-child(1) a{
  background: var(--white);
}
.reservation li:nth-child(1) a {
  color: var(--primary);
  font-size: 19px;
  font-weight: 700;
}
.reservation li:nth-child(2) a{
  background: var(--primary);
  color: var(--white);
  left: 189px;
}
.reservation li:nth-child(2) a {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
}
.form-way {
  display: flex;
  justify-content: start;
}
.form-way li a{
  width: 107px;
  line-height: 46px;
  display: block;
  text-align: center;
}
.form-way li{
  margin: 29px 0 19px 0;
}
.form-way li:nth-child(1) a{
  background: var(--primary);
  color: var(--white);
  border-radius: 4px 0 0  4px;
}
.form-way li:nth-child(2) a{
  background: var(--lightGray);
  color: var(--primary);
  border-radius: 0 4px 4px 0;
}
.main-content form{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding-bottom: 24px;
}
.main-content .input-field{
  border-bottom: 3px solid var(--darkGray);
 
}

.main-content i {
  width: 15px;
  height: 22px;
  padding : 20px 20px 0 0;
  color: var(--darkGray);
}
.main-content input{
  width: 162px;
  padding: 20px 0 0 20px;
  line-height: 45px;

  outline: none;
  color: var(--darkGray);

  &::placeholder{
    color: var(--darkGray);
  }
}
.main-content button{
  width: 120px;
  height: 65px;
  background: var(--darkGray);
  border-radius: 3px;
  color: var(--white);
  margin-left: 140px;
}
/* input 클릭 이벤트 */
.main-content .input-field:hover{
  border-bottom: 3px solid var(--primary);
}
.main-content button:hover{
  background: var(--gray);
}
/* Content */
.content-box ul{
  display: flex;
  gap: 37px;
}
.content-box li{
  box-sizing: border-box;
  position: relative;
  width: 400px;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  img{
    width: 100%;
    transform: none;
    transition: .3s;
  }
  figcaption{
    position: absolute;
    left: 0; right: 0; 
    bottom: 0; top: 220px;
    
    background: var(--highlight);
    padding: 9px 15px 10px 21px;
    h2{
      font-size: 18px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 9px;
    }
    p{
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
    }
  }
  &:hover img{
    transform: scale(1.2) ;
    transform-origin: 50% 50%;
  }
  &:hover figcaption{
    text-decoration: underline;
  }
}
/* Notice */
.notice{
  display: flex;
  justify-content: space-between;
}
.notice-content{
  width: 610px;
  h2{
    margin-bottom: 22px;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
  }
  ul li{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    box-sizing: border-box;
    border-top: 1px solid var(--gray);
    &:hover a{
      text-decoration: underline;
    }
  }
  ul li:last-child{
    border-bottom:1px solid var(--gray) ;
  }
  ul li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  span{
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: var(--gray);
  }
}
.notive-img{
  width: 500px;
  text-align: right;
  
  p{
    margin: 20px 0 22px 0;
  }
  img{
    border-radius: 20px;
    box-shadow: none;
    transition: .3s;
    &:hover{
      box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 
      0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 
      0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 
      0px 20px 13px 0px rgba(0, 0, 0, 0.01), 
      0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 
      0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
    }
  }
}
/* Services */ 
.services{
  background: var(--third);
  padding: 27px 0 64px;
}
.services h2{
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
}
.services ul{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0 25px;
  margin: 41px 0 14px;
}
.services ul li{
  width: 165px;
  height: 130px;
  border-radius: 10px;
  background: rgba(255,255,255,.5);
  display: flex;
  justify-content: center;
  position: relative;
}
.services ul li a{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 10px;
}
.services ul li img{
  width: 48px;
  height: 48px;
}

.services ul li:hover:after{
  position: absolute;
  content: '';
  width: 165px;
  height: 40px;
  background: rgba(255,255,255,.5);
  top: calc(100% + 15px);
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}
.services ul li:hover::before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px;
  border-color: transparent transparent rgba(255,255,255,.5) transparent;
  position: absolute;
  top: calc(100% - 15px);
}
/* Footer */
footer{
  background: var(--mixedColor);
}
.footer-wrap{
  display: flex;
  justify-content: space-between;
  padding :64px 0;
}
.footer-wrap dt{
  color: var(--white);
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 29px;
  font-weight: 700;
}
.footer-wrap dd{
  color: var(--gray);
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  cursor: pointer;
}
.footer-wrap .company dt{
  margin-bottom: 34px;
}
.footer-wrap .company dd{
  margin-bottom: 5px;
  cursor: default;
}
.footer-wrap dd:last-child{
  margin-bottom: 0;
}
.company dd:nth-child(2){
  margin-top: 24px;
}
.company dd:nth-child(3){
  margin-bottom: 24px;
}
.footer-wrap .sns{
  width: 222px;
  display: flex; 
  flex-wrap: wrap;
  
}
.footer-wrap .sns dt{
  width: 212px;
  display: block;
}
.footer-wrap .sns dd{
  width: 64px;
  height: 64px; 
  border-radius: 50%;
  background: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.footer-wrap .sns dd i {
  color: var(--mixedColor);
  font-size:  28px;
}
.footer-wrap .sns dd:hover{
  background: var(--lightGray);
}
.footer-wrap .sns dd:hover >{
  color: #444444;
}
.footer-wrap + p{
  color: var(--gray);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  padding: 0 0 48px;
}